/node_modules
/apps/web-next/node_modules
/apps/mini-tar/node_modules
node_modules
dist
.next
out
build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env-production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.cjs
.pnp.loader.mjs
coverage
*.lcov
.vercel
.svelte-kit
.cargo
.target
TODO.md