# dependencies
**/node_modules
**/.pnpm-store
**/.pnp.*
**/.yarn
**/.npm

# build outputs
**/.next
**/dist
**/build
**/.turbo
**/.cache

# vcs
**/.git
**/.gitignore

# logs
**/*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env & secrets
.env
.env.*
**/*.pem
**/*.key

# OS / editor
**/.DS_Store
**/Thumbs.db
**/.idea
**/.vscode

# misc large folders (按你项目情况可删)
**/.swc
**/.vercel
